body {
  font-family: "Roboto";
}
.react-datepicker-wrapper {
  width: 100%;
}
.swal-modal {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.react-datepicker-wrapper {
  width: auto;
}
.react-datepicker__month-container {
  background-color: white;
}
.react-datepicker__header {
  background-color: white;
}
.MuiInputLabel-outlined {
  z-index: 0;
}
